.footer{
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-row a{
    font-size: 30px;
    margin: 0 10px;
    color: #75797c;
}

.footer .menu{
    width: 25%;
    margin-top: 15px;
}

.footer-description{
    color:#aaa;
    font-size: 13px;
}