.header{
    display: flex;
    justify-content: space-between;
    padding: 5px 100px;
    align-items: center;
    position: fixed;
    background: transparent;
    transition: all 0.6s ease-out;
    width: calc(95% - 100px);
}

.header.active{
    box-shadow: 0 3px 6px 3px rgb(0 0 0 / 6%);
    background: #fff;
    z-index: 999999;
}

.logo{
    max-width: 100px;
}

.menu{
    width: 30%;
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
}

.menu a{
    font-size: 18px;
    font-weight: 500;
    color: #333333;
}

.menu a:hover{
    color: #f63854;
    transition: all 0.6s ease-out;
}


.burger-menu{ 
    display: none;  
} 
 
.burger-icon{ 
    font-size: 20px; 
    color:#5ca8b5; 
} 
 
.side-bar{ 
    background-color: #fff; 
    position: absolute; 
    top: 0; 
    right: 0; 
    width: 200px; 
    height: 100vh; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    transform: translateX(150%); 
    transition: all 0.4s; 
} 
 
.side-bar-open{ 
    transform: translateX(0%); 
} 
 
.side-bar a{ 
    color: #5ca8b5; 
    font-size: 25px; 
    margin-bottom: 55px; 
} 
 
.backdrop{ 
    position: fixed; 
    top: 0; 
    right: 0; 
    width: 100%; 
    height: 100vh; 
    background-color: rgba(0, 0, 0, 0.5); 
    display: none; 
} 
 
.backdrop-open{ 
    display: block; 
}


@media (max-width: 1400px){
    .header{
        padding: 5px 50px;
        width: calc(95% - 0px);
    }
    .menu{
        width: 40%;
        padding-right: 0;
    }
}
@media (max-width: 1024px){
    .menu{
        width: 55%;
    }
}
@media (max-width: 800px){
    img{
        width: 85%;
    }
    .header{
        padding: 5px 20px;
        background: #fff; 
        z-index: 999999; 
    }
    .menu{ 
        display: none; 
    } 
    .burger-menu{ 
        display: block; 
    }
}